<ion-header>
  <ion-toolbar>
    <ion-title>เปลี่ยนรหัสผ่าน</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">รหัสผ่านเก่า</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">รหัสผ่านใหม่</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ยืนยันรหัสผ่านใหม่</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button type="submit" color="theme">บันทึก</ion-button>
</ion-content>
