<ion-header>
  <ion-toolbar>
    <ion-title>แบบสอบถาม</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text color="danger">
          <h4 class="title">รายการแบบสอบถาม</h4>
          <hr class="hr-border">
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-icon name="document-text-sharp" color="danger"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>สังเกตุร้านค้า</h3>
        <p>แล้วเสร็จ 0/10</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-icon name="document-text-sharp" color="danger"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>สังเกตุสถานะที่สาธารณะ</h3>
        <p>แล้วเสร็จ 0/100</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-icon name="document-text-sharp" color="danger"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>สัมภาษณ์พฤติกรรมการสูบบุหรี่</h3>
        <p>แล้วเสร็จ 0/100</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
