.title {
    font-weight: bold;
}
.hr-border {
    border-bottom: 1px solid #eee;
}

ion-avatar {
    ion-icon {
        font-size: 35px;
    }
}
ion-label {
    h3 {
        font-weight: bold;
    }
    p {
        color: green;
    }
}

.profile {
    padding: 10px 0;
    background-color: #eb445a;
    
    .profile-content {
        margin-top: 10px;
        p {
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
        }
    }
}


// new
.card-lists-form {
    background-color: #5c2d90;
    color: #fff;
    padding: 10px 0;
    border-left: 5px outset #cab1e7;
    ion-icon {
        font-size: 55px;
    }
    .lists-content {
        h3 {
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 20px;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
        }
    }
}