<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียด</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <img src="https://www.fillmurray.com/640/360" alt="">
  </div>
  <div class="container">
    <h5>Lorem ipsum dolor sit, amet consectetur elit!</h5>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, cupiditate commodi cumque iure maiores debitis id, ducimus fugit, sapiente numquam unde accusamus rem explicabo quasi corporis accusantium eveniet. Fuga, dolores.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta dolore natus alias ipsa quasi provident voluptatem minima dolorem repellendus iusto possimus eius aspernatur maiores ea corporis sed excepturi, ipsam nam!</p>
  </div>
</ion-content>
