.icon-banner {
    ion-icon {
        font-size: 35px;
        color: #C85C5C;
        padding-top: 20px;
    }
    p {
        font-size: 1.1rem;
        margin-top: 0 !important;
    }
}
.content {
    p {
        text-indent: 1rem;
    }
}
ion-label {
    font-family: Kanit !important;
}