<ion-content>
  <div id="header-profile">
    <img src="assets/shapes.svg">
    <p>นาย สมชาย ใจดี</p>
  </div>

  <div class="slide">
    <img src="https://www.fillmurray.com/640/360" alt="">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <p><ion-icon name="megaphone-outline"></ion-icon> ด็อกเตอร์บิลอุปสงค์ซะฟลอร์ เลสเบี้ยนผู้นำหงวนอพาร์ทเมนท์ฮาโลวีน ปาร์ตี้ตะหงิด โหงวเฮ้ง</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <div class="menu">
          <ion-icon name="home-outline"></ion-icon>
          <p>หน้าหลัก</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="menu">
          <ion-icon name="document-text-outline"></ion-icon>
          <p>แบบสอบถาม</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="menu">
          <ion-icon name="pie-chart-outline"></ion-icon>
          <p>รายงาน</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="menu">
          <ion-icon name="newspaper-outline"></ion-icon>
          <p>ข่าวสาร</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
