#header-profile {
    padding: 10px 15px;
    display: inline-flex;
    background-color: green;
    width: 100%;

    img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: bold;
        padding-left: 40px;
        color: #fff;
    }
}
.slide {
    img {
        width: 100% !important;
    }
}
.menu {
    text-align: center;
    background-color: #eee;
    border-radius: 15px;
    padding: 15px 0;
    color: #333;
    ion-icon {
        font-size: 35px;
        color: green;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
    }
}